.main-proyectos {
    height: 100vh;
    background: rgba(162, 154, 154, 0.15);
    padding: 1rem;
    font-size: 1rem;
}

.main-proyectos__title {
    text-align: right;
    color: rgba(223, 223, 223, 0.609);
    margin-right: 4rem;
}

.main-proyectos__title-full {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .separator-line {
        margin-left: 0;
        margin-right: 4rem;
    }
}

.main-proyectos__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // overflow: hidden; // fix para que no se salga de la seccion
}

.main-proyectos__container h2 {
    text-align: left;
    font-family: "Microsoft Yi Baiti", sans-serif;
    margin: 2rem;
    color: rgba(216, 216, 216, 0.897);
    letter-spacing: 5px;
}

.main-proyectos__container h2:nth-child(1) {
    font-size: 2.3em;
    width: 70%
}

.main-proyectos__container h2:nth-child(2) {
    font-size: 2em;
    width: 65%
}

.main-proyectos__container h2:nth-child(3) {
    font-size: 2.8em;
    width: 60%
}

.main-proyectos__container h2:nth-child(4) {
    font-size: 3.3em;
    width: 70%
}