@media (max-width: 992px) {
    .nav-bar {
        .nav-bar__container {
            width: 100%;

            .nav-bar__menu {
                justify-content: center;

                a {
                    &[href="#aboutme"] {
                        min-width: 120px;
                    }
                }
            }
        }
    }

    .artist-profile {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .artist-name {
            text-shadow: none;
        }
    }

    .main-obras {
        height: auto;

        .main_obras__container {
            height: 100%;

            .main-obras__obra {

                font-size: .8rem;

                .main-obras__obra-title {
                    letter-spacing: 2px;
                }

                .main-obras__obra-description {
                    font-weight: 300;
                    padding: .5rem;
                }

                &:nth-child(2) {
                    margin-top: 4rem;
                }

                &:nth-child(3) {
                    margin-top: 2rem;
                }
            }
        }
    }

    .main-projects {
        height: auto;
        font-size: .7rem;
    }

    .main-aboutme {
        height: auto;

        .aboutme-container {
            font-size: 0.8rem;
            margin-top: 1rem;

            .main-aboutme__bio {
                margin: 1rem;
            }
        }
    }

    .main-contact {
        height: auto;
    }

    .page-center {
        width: 80%;
        background: rgba(39, 39, 39, 0.15);
    }

    .section-container {
        height: 100%;
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-direction: column;
        padding: 1rem
    }
    .main-contact__socialnetworks {
        li {
            margin: .4rem;
        }
    }



}

@media (max-width: 768px) {
    .toggle-button-container {
        display: inline-block;
        cursor: pointer;
    }
    .header {
        height: 60vh;

        .nav-bar {
            box-shadow: none;

            .nav-bar__container {
                width: 100%;

                .nav-bar__menu {
                    a {
                        display: none;
                    }
                }
            }
        }


    }

    .section-container {
        width: 95%;
    }

    .page-center {
        width: 90%;
    }

    .section-title {
        text-align: center;
        margin: 0 auto;
    }

    .separator-line {
        display: none;
        margin: 0 auto;
        width: 25%;
    }

    .main-obras {
        .main_obras__container {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;

            .main-obras__obra {
                padding: 1rem;
                margin: 0;
                width: 100%;

                .main-obras__obra-title {
                    text-shadow: none;
                }

                &:nth-child(2) {
                    margin: 0;
                }
            }
        }
    }

    .main-projects {
        .main-projects__container {
            align-items: center;

            .main-projects__project-title {
                width: 85%;
                text-align: center;
                margin: 1.5rem;
            }
        }
    }

    .main-contact {
        .main-contact__socialnetworks {
            li {
                font-size: 1rem;
            }
        }
    }

    .main-aboutme {
        .aboutme-container {
            flex-direction: column;
            width: 80%;

            .main-aboutme__bio {
                width: 100%;
                order: 1;
                text-align: center;
            }

            .main-aboutme__img {

                box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                max-width: 15rem;
                width: 100%;
                order: 0;
            }
        }
    }

    footer {
        height: auto;
        padding: 1rem;
        .footer-links {
            flex-direction: column;
            align-items: center;
            margin: 1rem auto;
            padding-bottom: .5rem;
            li {
                margin: .2rem;
                &:nth-child(1) {
                    order: 1
                }
                &:nth-child(2) {
                    order: 0
                }
            }
        }
        .footer-created-by {
            text-align: center;
        }
    }
}