@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$background-color1: #2c3e50;
$background-color2: #bdc3c7;

$background-color1t: #bdc3c7a6;
$background-color2t: #2c3e502c;

$chat-background__color: #bdc3c7de;
$chat-background__colort: #9fa19a32;
$text-color1: rgb(80, 78, 78);
$text-color2: #226e51;

$border-icon-color: rgba(175, 174, 174, 0.274);
$light-primary: #666666;

$button-color: #425262;

$canvas-size: 550px;
$icon-size: 1.2rem;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: $background-color2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      $background-color1,
      $background-color2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      $background-color1,
      $background-color2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}



.intro-panel {
  background: rgb(146 156 164);
  border-radius: 10px;
  position: fixed;
  z-index: 3;
  width: 80vw;
  height: 80vh;
  padding: .5rem;
  border: 8px solid #2c3e504f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .intro-panel__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;

    h1 {
      text-align: center;
      display: block;
      width: 100%;
      color: #fff;
      font-size: 3rem;
      border-bottom: 2px solid #fff;
      padding-bottom: 1rem;
      letter-spacing: .5rem;
    }

    p {
      color: #fff;
      padding: 2rem 7rem 2rem 7rem;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      line-height: 1.7rem;
      margin: 0 auto;
    }

    .intro-panel__login {
      input[type="text"] {
        width: 8rem;
      }
      select {
        font-size: .8rem;
      }
      input[type="text"],
      select {
        padding: .5rem;
        border-radius: 5px;
        display: inline-block;
        max-width: 65%;
        background: rgba(255, 255, 255, 0.7);
        color: #504e4e;
        letter-spacing: 1px;
        border: none;
        margin: .5rem;
      }

      input[type="submit"] {
        background: $button-color;
        color: white;
        border: none;
        padding: .5rem;
        border-radius: 7px;
        cursor: pointer;
        margin: .5rem;

      }
    }
  }
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 90%;
  justify-content: center;




  .l-panel {
    margin: .3rem .4rem;
    padding: .5rem;
    width: 20%;
    background: $background-color1t;
    border-radius: 10px;
    max-height: $canvas-size;


    .l-panel-content {
      background: #bdc3c7de;
      border-radius: 5px;
      padding: .5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      color: #363636;
      justify-content: stretch;
      height: 100%;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* */

      .l-panel-room__name {
        padding-bottom: .5rem;
        text-align: center;
        font-weight: 400;
        border-bottom: 2px solid $background-color2t;
        margin: .3rem 0 .7rem 0;
      }

      .l-panel-round__title {
        border-bottom: 2px solid $background-color2t;
        padding-bottom: .5rem;
        margin: .3rem 0 .7rem 0;
        text-align: center;

      }

      .l-panel-score__title {
        padding-bottom: .5rem;
        text-align: center;
        font-weight: 400;
        border-bottom: 2px solid $background-color2t;
        margin: .3rem 0 .7rem 0;
      }

      .l-panel-score__container {
        .l-panel-score__table {
          width: 100%;
          padding-bottom: .7rem;
          border-bottom: 2px solid $background-color2t;
          min-width: 8rem;

          .score-board__row {
            display: flex;
            height: 1.5rem;
            opacity: 1;
            transition: .3s all ease-in;
            justify-content: space-between;
            align-items: center;
            margin: 0 .5rem;

            .l-panel-score__hint {
              letter-spacing: 1px;
              font-size: .6rem;
              font-weight: bold;
              color: $light-primary;
              border: 2px solid $light-primary;
              padding: .2rem;
              border-radius: 5px;
              transition: opacity .8s ease-in;
              opacity: 0;
              display: inline-block;
              margin-right: .5rem;

            }

            .hint-titling {
              opacity: 1;
            }

            .l-panel-score__user {
              font-size: .8rem;
              text-align: left;
              flex-grow: 1;

              &.user-is-drawing {
                color: $text-color2;
                font-weight: bold;
                letter-spacing: 1px;
                position: relative;

                &::after {
                  content: url(img/pencil-cambiar.svg);
                  width: $icon-size;
                  height: $icon-size;
                  display: inline-block;
                  position: absolute;
                  vertical-align: bottom;
                  margin-left: .4rem;
                }
              }
            }

            &.score-updated {
              opacity: 0.5;
              color: white;
              font-weight: bold;
            }

            .l-panel-score__user-score {
              font-size: .8rem;
              font-weight: bold;
              text-align: right;
              letter-spacing: 1px;
            }
          }
        }
      }


      .l-panel-playersinroom {
        padding-bottom: .5rem;
        text-align: center;
        font-weight: 400;
        border-bottom: 2px solid $background-color2t;
        margin: 1rem 0 0 0;
      }

      .l-panel-playersinroom {
        flex-grow: 4;
      }

      .l-panel__control-panel {
        text-align: center;
        display: flex;
        justify-content: center;

        .button {
          background: $button-color;
          color: white;
          border: none;
          padding: .5rem;
          border-radius: 7px;
          cursor: pointer;
          margin: 1rem .3rem;
        }
      }
    }


  }

  .game {
    margin: .3rem .4rem;
    position: relative;
    background: white;
    border: 2px solid $background-color2;
    border-radius: 10px;
    width: 50%;
    min-width: $canvas-size;
    min-height: $canvas-size;
    max-width: $canvas-size;
    max-height: $canvas-size;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .game-board {
      display: flex;
      background: $chat-background__colort;
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: .5rem;
      align-items: center;
      border-bottom: 2px solid $background-color2t;
      height: 100px;
      width: 100%;

      .game-board__timer {
        border: 2px solid $light-primary;
        color: $light-primary;
        padding: 2px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        position: relative;
        margin-left: 1rem;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }

      .tooltip {
        position: relative;

        &:hover {
          &>span {
            opacity: 1;
          }
        }

        span {
          position: absolute;
          background: #363636;
          white-space: nowrap;
          color: white;
          text-align: center;
          border-radius: 5px;
          display: block;
          opacity: 0;
          transition: .5s opacity;
          padding: .3rem;
          font-size: .65rem;
          transform: translate(-10%, -50%);
          margin-top: 1rem;

          &::before {
            content: '';
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            background: #363636;
            top: -3px;
            left: 20%;
            transform: translateX(-50%) rotate(45deg);
            z-index: -1;
          }
        }
      }

      .game-board__word {
        letter-spacing: 1.5px;
        display: block;
        text-align: center;
        flex-grow: 1;

        span {
          color: rgb(102, 102, 102);
        }
      }

      .icon {
        display: block;
        ;
        border: 2px solid rgba(112, 112, 112, 0.63);
        box-shadow: 1px 1px 1px 1px $border-icon-color;
        margin: 2px;
        width: $icon-size;
        height: $icon-size;
        border-radius: 5px;
        transition: .2s opacity ease-in;
        opacity: 0.6;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }

      }

      .btn_hint {
        letter-spacing: 1px;
        font-size: .7rem;
        border: 2px solid $background-color2t;
        color: $background-color2t;
        border-radius: 5px;
        padding: .3rem;
        font-weight: bold;
        margin-right: 1rem;
        transition: all .2s ease-in;

        &:hover {
          color: $light-primary;
          border-color: $light-primary;
          cursor: pointer;
        }
      }

      .game-board__skip.icon {
        border: none;
        box-shadow: none;
        margin-right: .8rem;
        &.tooltip {
          span {
          margin-top: 2rem;
          transform: translate(-50%, -50%);
          &::before {
            left: 70%;
          }
          }
        }
      
      }

      .icons {
        padding-top: .5rem;
        display: flex;
        width: 100%;
        justify-content: space-evenly;


        .colors {
          width: 70%;
          display: flex;
          // flex-wrap: wrap;
          height: 100%;
          justify-content: center;
          align-items: center;
        }

        .game-tools {
          width: 25%;
          flex-wrap: wrap;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;

          .tool.icon {
            border: none;
            box-shadow: none;
            text-align: center;
            position: relative;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }

            &.tools-brush__size-big img {
              width: 1rem;
            }

            &.tools-brush__size-medium img {
              width: .8rem;
            }

            &#tools-brush__size-small img {
              width: .3rem;
            }

            .clean-icon {
              height: 1.2rem;

            }

            .bucket-icon {
              height: 1.2rem;
            }
            &.tooltip {
              span {
              margin-top: 2.7rem;
              transform: translate(-60%, -50%);
              &::before {
                left: 70%;
              }
              }
            }
          }
        }

        .icon {

          &.green {
            background: green
          }

          &.blue {
            background: blue
          }

          &.red {
            background: red
          }

          &.yellow {
            background: yellow
          }

          &.orange {
            background: orange
          }

          &.black {
            background: black
          }

          &.white {
            background: white
          }

          &.salmon {
            background: salmon
          }

          &.gold {
            background: gold
          }

          &.khaki {
            background: khaki
          }

          &.lemonchiffon {
            background: lemonchiffon
          }

          &.lawngreen {
            background: lawngreen
          }

          &.lightgreen {
            background: lightgreen
          }

          &.aquamarine {
            background: aquamarine
          }

          &.royalblue {
            background: royalblue
          }

          &.slateblue {
            background: slateblue
          }

          &.fuchsia {
            background: fuchsia
          }

          &.hotpink {
            background: hotpink
          }

          &.maroon {
            background: maroon
          }
        }



      }

      .game-board__guessing {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        padding-top: .5rem;

        .game-board__guessing-icons {
          display: flex;
          justify-content: center;

          .icon {
            display: inline-block;
            border: none;
            margin: .3rem .3rem 0 .3rem;
            width: $icon-size;
            height: $icon-size;
            border-radius: 5px;
            transition: .2s all ease-in;
            opacity: 0.6;
            box-shadow: none;

            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
        }

        .game-board__currently-drawing {
          text-align: right;
          color: $text-color1;
          font-size: .8rem;
          width: 100%;
          margin: 0;
        }
      }
    }


    #clr-btn {
      background: $button-color;
      color: white;
      border: 2px solid rgba(255, 255, 255, 0.39);
      padding: 1rem;
      margin: .5rem;
      border-radius: 5px;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

  }

  .chat {
    margin: .3rem .4rem;
    width: 25%;
    background: $background-color2t;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: $canvas-size;

    .chat-output {
      background: $chat-background__color;
      margin: .5rem;
      border-radius: 5px;
      padding: .5rem;
      flex-grow: 1;
      overflow-y: scroll;
      word-wrap: break-word;
      // scrollbar-width: none;
      // &::-webkit-scrollbar {
      //   display: none;
      // }
      // -ms-overflow-style: none;

      .chat-text__line {
        font-size: .9rem;
        margin: .3rem;
        color: $text-color1;
        margin-bottom: .5rem;

        .chat-user {
          font-weight: 700;
        }

        &.chat-user__join-left {
          letter-spacing: 1.5px;
        }

        &.chat-user__won {
          color: $text-color2;
          font-weight: bold;
          letter-spacing: 1px;
        }

        &.chat-word {
          color: $text-color2;
          letter-spacing: 1px;

          span {
            color: $text-color2;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }

        &.chat-user__skip {
          font-style: italic;
        }

      }

      .chat-correctword {
        color: #56799c;
        font-weight: bold;
        letter-spacing: 1px;
      }


    }

    .chat-input {
      border-radius: 10px;
      padding: .5rem;
      flex-grow: 0;
      display: flex;
      justify-content: space-between;


      .input-text {
        border-radius: 5px;
        padding: 0 1rem;
        flex-grow: 2;
        display: inline-block;
        max-width: 65%;
        margin-right: .5rem;
        background: rgba(255, 255, 255, 0.7);
        color: #504e4e;
        letter-spacing: 1px;
        border: none;
      }

      .send-button {
        background: $button-color;
        color: white;
        border: none;
        padding: .5rem;
        border-radius: 7px;
        cursor: pointer;
        flex-grow: 1;
      }
    }
  }
}

.hide {
  display: none !important;
}

input[type="button"] {
  position: fixed;
}

.disabled {
  cursor: default !important;

  &:hover {
    cursor: default !important;
    box-shadow: none !important;
    color: #2c3e502c !important;
    border-color: #2c3e502c !important;
  }
}

input[type="submit"],
input[type="button"],
button:focus {
  outline: none;
}

.invalid-input {
  background: rgba(255, 0, 0, 0.5) !important;
  color: white !important;
}
input[type="text"] {
  transition: all .1s ease-in;
}