footer {
    background: #202020;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .footer-links {
        margin: 0 auto;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: 1.125rem;
        background: #302e2e;
        align-items: center;
        li {
            a {
                display: inline-block;
                margin: .5rem 2rem;
                text-decoration: none;
                color: rgba(204, 204, 204, 0.746);
                transition: color .1s ease-in;
                &:hover {
                    color: rgba(255, 255, 255, 0.746);
                }
            }
        }
    }
    .footer-created-by {
        margin: .1rem 1rem;
        display: inline-block;
        width: 100%;
        text-align: right;
        color: rgba(255, 255, 255, 0.3);
        align-self: center;
    }
}