@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

@font-face {
    font-family: "Microsoft Yi Baiti";
    src: url(../fonts/msyi.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    background-color: gray;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

@import "animations";
@import "nav";
@import "header";
@import "main";
@import "obras";
@import "projects";
@import "aboutme";
@import "contact";
@import "footer";
@import "medias";