footer {
    background: #202020;
    padding: 1.5rem 1rem .5rem 1rem;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .footer-links {
        margin: 0 auto;
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 1.125rem;
        li {
            a {
                display: inline-block;
                text-decoration: none;
                color: rgba(204, 204, 204, 0.746);
                transition: color .1s ease-in;
                &:hover {
                    color: rgba(255, 255, 255, 0.746);
                }
            }
        }
    }
    .footer-created-by {
        display: inline-block;
        width: 100%;
        text-align: right;
        color: rgba(255, 255, 255, 0.3);
    }
}