footer {
    background: #272727;
    padding: 2rem;
}

.footer-links {
    margin: 0 auto;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-links li a {
    text-decoration: none;
    font-size: 2rem;
    color: rgba(204, 204, 204, 0.746);
}