<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Mixer</title>
    <link rel="stylesheet" href="sounds.css">
    <script src="./sounds/howler.min.js"></script>
</head>

<body>
    <h1>Sound Mixer</h1>
    <div id="container">

    </div>
    <!-- <div class="slidecontainer">
            <label for="single-volume"></label>
            <input type="range" name="single-volume" class="slider" min="0" max="1" step="0.03">
        </div> -->
    <footer>

        <p>Created & Designed by Santiago Vallejo, using the HowlerJS library</p>
    </footer>
    <script src="sonido.js"></script>
</body>

</html>