@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  height: 100vh;
  overflow: hidden;
  background: #544a7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #544a7d, /*#613042 a #e9a757 */
    #ffd452
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #544a7d,
    #ffd452
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: linear-gradient(to top, #613042, #733646, #863c47, #974347, #a74c44, #b35644, #bd6144, #c76d43, #d07b47, #d98a4c, #e19851, #e9a757); */
}
h1 {
  margin-top: 3rem;
  color: white;
  text-align: center;
  width: 100%;
}

#container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.sound-container {
  margin: .5rem;
  display: flex;
  padding: 1rem;
  width: 25%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.20);

}
button {
  background-color: #ffd4521f;
  transition: all 0.7s ease-in;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-shadow: 2px 2px 4px 2px #544a7d46;
  cursor: pointer;
  margin: 1.5rem 1rem;
  padding: .5rem 1rem;
  letter-spacing: 2px;
}
button:hover {
  background-color: #544a7d77;
  outline: none;
}

.playing {
  background-color: #544a7d77;
  animation: playing-titling 3s infinite ease-in-out;
}
/* SLIDER */
.slide-container {
  width: 95%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #ffd4521f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .4s;
  transition: opacity .4s;
  border: 1px solid #544a7d20;  
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(255, 212, 82, 0.4);
  cursor: pointer;
  border: 1px solid #544a7d41;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(255, 212, 82, 0.4);
  cursor: pointer;
  border: 1px solid #544a7d77;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

@keyframes playing-titling {
  0% {
    background-color: #544a7d77;
  }
  50% {
    background-color: #544a7d20;
  }
  100% {
    background-color: #544a7d77;
  }
}

@media (max-width: 960px) {
  .sound-container {
    width: 40%
  }
  body {
    overflow: auto
  }
  p {
    position: relative;
  }
}


@media (max-width: 576px) {
  #container {
    width: 100%;
  }
  .sound-container {
    width: 100%;
  }
  button {
    width: 100%;
    margin: .5rem 1rem 1rem 1rem;
  }
  
}