* {
    box-sizing: border-box;
}

.cubo{
    position: fixed;
    top: 150px;
    left: 50%;
    width: 300px;
    height: 300px;
    /* perspective-origin: 50% -50%; */
    transform-style: preserve-3d;
    animation: girar 10s 10;
}

.cara {
    border: 3px solid black;
    position: absolute;
    font-size: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cara1{
    color: rgb(36, 36, 36);
    background-color: rgba(100,100,100,0.3);
    transform:  rotateY(180deg);
}

.cara2{
    color: rgb(110, 17, 17);
    background-color: rgba(219, 33, 33, 0.3);
    transform-origin: right;
    transform: rotateY(90deg);
}

.cara3{
    color: rgb(16, 73, 68);
    background-color: rgba(35, 187, 174, 0.3);
    transform-origin: top;
    transform: rotateX(90deg);
}

.cara4{
    color: rgb(36, 78, 16);
    background-color: rgba(80, 180, 34, 0.3);
    transform-origin: left;
    transform: rotateY(-90deg);
}

.cara5{
    color: rgb(66, 16, 64);
    background-color: rgba(170, 40, 164, 0.3);
    transform-origin: bottom;
    transform: rotateX(-90deg);
}

.cara6{
    color: rgb(53, 58, 23);
    background-color: rgba(178, 206, 21, 0.3);
    transform-origin: bottom;
    transform: translateZ(300px);
}

.cara:hover{
    filter: brightness(15%);
}

.cara:active{
    filter: brightness(80%);
}

@keyframes girar{
    0%{
        transform: rotateX(-25deg) rotateY(-30deg);
    }

    /* 50%{
        transform: rotateX(-25deg) rotateY(329deg);
    } */

    100%{
        transform: rotateX(334deg) rotateY(329deg);
    }
}