* {
    box-sizing: border-box;
}

.cubo{
    position: fixed;
    top: 150px;
    left: 50%;
    width: 300px;
    height: 300px;
    /* perspective-origin: 50% -50%; */
    /* transform-style: preserve-3d; */
    /* animation: girar 10s 10; */
}

.cara {
    position: absolute;
    font-size: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in{
    position: absolute;
    top: 150px;
}

.cara1{
    color: rgb(53, 58, 23);
    background-color: rgba(178, 206, 21, 0.3);
    transform-origin: bottom;
    transform: translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(.866);
}



.cara2{
    display: none;
    color: rgb(36, 36, 36);
    /* background-color: rgba(100,100,100,0.3); */
    width:0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 400px solid rgba(35, 187, 174, 0.3);
    transform: rotate
}
/* 

@keyframes girar{
    0%{
        transform: rotateX(-25deg) rotateY(-30deg);
    }

    100%{
        transform: rotateX(334deg) rotateY(329deg);
    }
} */ 