<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Santiago Vallejo - Compositor Electroacústico</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="artist-profile">
            <h1 class="artist-name">Santiago Vallejo</h1>
            <div class="separating-line"></div>
            <h2 class="artist-profession">Electronic Composer</h2>
        </div>
        <nav class="nav-bar">
            <div class="nav-bar__container">
                <ul class="nav-bar__menu">
                    <li class="nav-bar__menu-item"><a href="#top">Inicio</a></li>
                    <li class="nav-bar__menu-item"><a href="#obras">Obras</a></li>
                    <li class="nav-bar__menu-item"><a href="#proyectos">Proyectos</a></li>
                    <li class="nav-bar__menu-item"><a href="#aboutme">Sobre mi</a></li>
                    <li class="nav-bar__menu-item"><a href="#contact">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="page-center"></div>
        <div class="main-obras">
            <div class="section-container">
                <div class="main-obras__title-full">
                    <h1 class="main_obras__title section-title" id="obras">Obras</h1>
                    <div class="separator-line"></div>
                </div>
                <div class="main_obras__container">
                    <article class="main-obras__obra">
                        <h2 class="main-obras__obra-title">"El confluir de las brisas orienta un viraje a nuevo mundo"
                        </h2>
                        <h3 class="main-obras__obra-description">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Praesent
                            fermentum aliquet pharetra. Maecenas
                            vel augue auctor, sodales felis non,
                            vulputate. </h2>
                    </article>
                    <article class="main-obras__obra">
                        <h2 class="main-obras__obra-title">"D i s t a n c i a s"</h2>
                        <h3 class="main-obras__obra-description">Lorem
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Natus, delectus.</h2>
                    </article>
                    <article class="main-obras__obra">
                        <h2 class="main-obras__obra-title">"ente"</h2>
                        <h3 class="main-obras__obra-description">Lorem ipsum dolor sit,
                            amet consectetur adipisicing elit. Dicta necessitatibus est
                            sit, exercitationem facilis error.</h2>
                    </article>
                </div>
            </div>
        </div>
        <div class="main-proyectos">
            <div class="section-container">
                <div class="main-proyectos__title-full">
                    <h1 class="main-proyectos__title section-title" id="proyectos">Proyectos</h1>
                    <div class="separator-line"></div>
                </div>
                <div class="main-proyectos__container">
                    <h2 class="main-proyectos__proyecto-title">Live electronics with Max4Live</h2>
                    <h2 class="main-proyectos__proyecto-title">Antique music combinated with electronic tracks</h2>
                    <h2 class="main-proyectos__proyecto-title">Lo-fi glitch music</h2>
                    <h2 class="main-proyectos__proyecto-title">Game Music</h2>
                </div>
            </div>
        </div>
        <div class="main-aboutme">
            <div class="section-container">
                <div class="main-aboutme__container">
                    <div class="main-obras__title-full">
                        <h1 class="main-aboutme__title section-title" id="aboutme">Sobre mi</h1>
                        <div class="separator-line"></div>
                    </div>
                </div>
                <div class="aboutme-container">
                    <h3 class="main-aboutme__bio">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maxime esse eum illo omnis labore saepe sunt
                        magnam aliquam quae excepturi.</h3>
                    <div class="main-aboutme__img">
                        <img src="./img/profile.png" alt="profile picture">
                    </div>
                </div>
            </div>
        </div>

        <div class="main-contact">
            <div class="section-container">
                <div class="main-contact__full">
                    <h1 class="main-contact__title section-title" id="contact">Contacto</h1>
                    <div class="separator-line"></div>
                </div>
                <ul class="main-contact__socialnetworks">
                    <li class="main-contact__socialnetworks-gmail">santi.vallejo@gmail.com</li>
                    <li class="main-contact__socialnetworks-facebook">Santi Vallejo</li>
                    <li class="main-contact__socialnetworks-instagram">sun.tea.go</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul class="footer-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Links externos</a></li>
            <li><a href="#">Otros trabajos</a></li>
        </ul>
    </footer>


    </div>
</body>

</html>